<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <nav>
            <a href="#">Home</a>
            <a href="#" id="atleta-link">Atletas</a>
            <a href="#">Modalidades</a>
            <a href="#">Notícias</a>
            <a href="#">Login</a>
            <a href="#">Registrar</a>
        </nav>
    </header>

    <div class="main">
        <div class="background-image"></div>
    
        <div class="txt-bem-vindo">
            Bem-vindo
        </div>
      
        <div class="txt-atletica">
            Atlética Fatec-BS
        </div>
      
        <div class="txt-convite">
            Deseja fazer parte da nossa tripulação?
        </div>
      
        <ul>
            <a href="/cadastro-atleta">Cadastrar Atleta</a>
        </ul>
    </div>

    <div class="overlay"></div> <!-- Overlay -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <a href="/cadastro-atleta">Cadastrar Atleta</a>
            <a href="/listar-atletas">Listar Atletas</a>
        </div>
    </div>

    <script>
        //abrir pop-up
        document.getElementById("atleta-link").addEventListener("click", function(event) {
            event.preventDefault(); // Impede o comportamento padrão do link

            var atletaLink = document.getElementById("atleta-link");
            var modal = document.getElementById("modal");
            var overlay = document.querySelector(".overlay");

            // Obter as coordenadas do item "Atletas"
            var rect = atletaLink.getBoundingClientRect();

            // Definir as coordenadas do modal com base no item "Atletas"
            modal.style.display = "block";
            modal.style.top = (rect.bottom + window.scrollY + 10) + "px";
            modal.style.left = rect.left + "px";

            overlay.style.display = "block";
        });

        // Fechar o modal ao clicar fora dele
        window.addEventListener("click", function(event) {
            var modal = document.getElementById("modal");
            var overlay = document.querySelector(".overlay");
            var atletaLink = document.getElementById("atleta-link");
            if (event.target !== modal && event.target !== atletaLink) {
                modal.style.display = "none";
                overlay.style.display = "none";
            }
        });
    </script>
    
    <footer class="footer">
        <img src="instalogo.png" alt="Logo" class="footer-logo">
        <a href="https://www.instagram.com/atleticafatecbs/" target="_blank">Siga-nos no Instagram</a>         
    </footer>
</body>
</html>