<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav>
            <a href="#">Home</a>
            <a href="#">Atletas</a>
            <a href="#">Modalidades</a>
            <a href="#">Notícias</a>
            <a href="#">Login</a>
            <a href="#">Registrar</a>
        </nav>
    </header>

    <div class="background-image">
        
    </div>
    <h1>Bem-vindo ao Cadastro de Atletas</h1>
    <p>Esta é a página inicial do sistema de cadastro de atletas.</p>
    <p>Use os links abaixo para navegar pelo sistema:</p>
    <ul>
        <li><a href="/listar-atletas">Listar Atletas</a></li>
        <li><a href="/cadastro-atleta">Cadastrar Atleta</a></li>
    </ul>

    <!-- Coloquei um exemplo de footer -->
    <footer>
        <p>Rodapé da página</p>
    </footer>
</body>
</html>
