/*TELA HOME*/
/* Estilizando o cabeçalho */
header, .footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #292929;
    height: 90px;
}

/* Estilizando a barra de navegação */
.footer {
    position: fixed;
    bottom: 0; /* Alinha o rodapé ao fundo do navegador */
    left: 0;
    width: 100%; /* Ocupa toda a largura do navegador */
    background-color: transparent;
    height: 60px; /* Altura do rodapé */
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo{
    width: 20px; /* Largura da logo */
    height: auto; /* Altura automática para manter a proporção */
    margin-right: 10px;
}

/* Estilos para o link do rodapé */
.footer a {
    color: rgba(255, 255, 255, 0.9); /* Reduzindo a transparência do texto */
    text-decoration: none;
    font-weight: lighter;
    font-size: 14px;
}

/* Estilizando a barra de navegação */
nav {
    display: flex;
    justify-content: flex-end;
    align-items: end; /* Alterado de 'end' para 'center' */
    height: 100%;
}

nav a {
    text-decoration: none;
    color: whitesmoke;
    margin-bottom: 25px;;
    margin-right: 40px;
    font-weight: lighter;
    font-size: 14px;
    transition: color 0.3s;
}

nav a:hover {
    color: rgb(155, 155, 155);
}

/* Estilizando o link "Cadastrar Atleta" */
nav a:nth-last-child(2) {
    background-color: #666666;
    line-height: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 10px;
    color: whitesmoke;
    font-weight: lighter;
    font-size: 14px;
    transition: background-color 0.3s;
    padding: 10px 40px;
    border-radius: 20px;
}

nav a:nth-last-child(2):hover {
    background-color:#4e4e4e; /* Mudando a cor de fundo ao passar o mouse */
}

/* Estilizando o último link da navegação */
nav a:last-child {
    border: 2px solid #666666;
    padding: 8px 30px;
    line-height: 15px;
    margin-bottom: 15px;
    padding: 8px 25px;
    border-radius: 20px;
}

.main-content {
    min-height: calc(100vh - 120px); /* Altura mínima ocupando o espaço entre o cabeçalho e o rodapé */
    background-image: url(fundo.png); /* Adicionando a imagem de fundo */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* Estilizando o corpo da página */
body {
    color: whitesmoke;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Estilizando o texto 'Bem-vindo' */
.txt-bem-vindo {
    margin-top: 150px;
    margin-left: 80px;
    font-size: 13pt; /* Alterado de 'font: 13pt arial;' para 'font-size: 13pt;' */
    font-weight: 100;
}

/* Estilizando o texto 'Atlética' */
.txt-atletica {
    margin-top: 15px;
    margin-left: 80px;
    font-size: 22pt; /* Alterado de 'font: 22pt trebuchet MS;' para 'font-size: 22pt;' */
    font-weight: 500;  
}

/* Estilizando o texto 'Convite' */
.txt-convite {
    margin-top: 15px;
    margin-left: 80px;
    font-size: 10pt; /* Alterado de 'font: 10pt arial;' para 'font-size: 10pt;' */
    font-weight: 100;
    line-height: 25px;
    color: #D3D3D3;
}

/* Estilizando o fundo da página */
.home {
    background-image: url(fundohome.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* Estilizando a lista */
ul {
    display: flex;
    justify-content: flex-start; /* Alterado de 'flex-beggin' para 'flex-start' */
    height: 100%;
}

/* Estilizando os links na lista */
ul a {
    text-decoration: none;
    color: whitesmoke;
    margin-right: 20px;
    font-weight: lighter;
    font-size: 14px;
    transition: color 0.3s;
}

ul a:hover {
    color: grey;
}

/* Estilizando o último link na lista */
ul a:last-child {
    background-color: #292929;
    margin-left: 40px;
    padding: 10px 70px;
    border-radius: 20px;
}

/* Estilizando o link para outra página */
ul a:last-child {
    text-decoration: none;
    color: whitesmoke;
    font-weight: lighter;
    font-size: 14px;
    transition: background-color 0.3s;
}

ul a:last-child:hover {
    background-color: #4a1e28; /* Mudando a cor de fundo ao passar o mouse */
}

/* Estilos para o modal */
.modal {
    display: none;
    position: absolute;
    z-index: 1;
    width: 200px; /* Largura do modal */
    background-color: rgba(50, 50, 50, 0.9); /* Cor semi-transparente grafite */
    border-radius: 4px;
    padding: 10px;
    color: white; /* Cor do texto */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra */
}

.modal-content {
    margin-top: 10px; /* Espaçamento entre os itens */
}

/* Estilos para os itens do modal */
.modal-content a {
    display: block; /* Exibe os itens em blocos verticais */
    text-decoration: none;
    color: white;
    padding: 5px 0; /* Espaçamento interno */
}

.modal-content a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Cor de fundo ao passar o mouse */
    border-radius: 3px;
}

/* Estilos para o fundo escurecido */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor semi-transparente preta */
    z-index: 1; /* Coloque o fundo escurecido acima de todos os outros elementos, exceto o modal */
}

/* Estilos para o botão de fechar */
.close {
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: white;
}

/*TELA DE CADASTRO*/
.cadastro {
    background-image: url(fundocadastro.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
/* Estilizando o formulário de cadastro */
form {
    background-color: rgb(167, 167, 167); /* Cor de fundo semi-transparente */
    max-width: 60%; /* Largura máxima do formulário */
    margin: 10px auto; /* Margens superior e inferior automáticas, centralizando o formulário horizontalmente */
    padding: 15px; /* Espaçamento interno do formulário */
    border-radius: 8px; /* Cantos arredondados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilizando as linhas do formulário */
.form-row {
    display: flex;
    margin-bottom: 20px;
}

/* Estilizando os grupos de formulário (rótulo + campo) */
.form-group {
    flex: 1;
    margin-right: 20px;
}

.form-group:last-child {
    margin-right: 15px;
}

/* Estilizando os rótulos */
label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

/* Estilizando os campos de entrada */
input[type="text"],
input[type="date"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #666666;
}

/* Estilizando os botões */
.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.submit-button{
    background-color: #292929;
    color: whitesmoke;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 20px;
}

.cancel-button{
    text-decoration: none;
    color: black;
    border: 2px solid #292929;;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 20px;
}

.submit-button:hover,
.cancel-button:hover {
    background-color:  #666666;
}

/*TELA DE LISTAGEM*/
.listar{
    background-image: url(fundocadastro.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.tabela {
    margin: 20px; /* Adiciona margem para separar a tabela das bordas do navegador */
}

.tabela table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #262626; /* Cor das grades da tabela */
}

.tabela th, .tabela td {
    border: 1px solid #262626; /* Cor das grades das células */
    padding: 8px;
    text-align: left;
    color: black
}

.tabela th {
    background-color: #464545;
    color: whitesmoke
}

.tabela td {
    background-color: #969696;
    color: black;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
